<div class="h-100 bg-dark container">
    <div class="carousel slide carousel-fade" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid w-100 d-block" style="width: 500px; height: 500px;" src="https://image.tmdb.org/t/p/original/6KErczPBROQty7QoIsaa6wJYXZi.jpg" alt="Slide Image">
            </div>
        </div>
        <div><a class="carousel-control-prev bg-dark" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        </ol>
    </div>
    <div class="jumbotron bg-dark">
        <h1 class="text-center text-white">Bienvenido a Cartelera Caracas</h1>
        <p class="text-center text-white">Tu applicación de cine preferida, donde podrás ver información de los últimos estrenos, reservar funciones e incluso analizar obras más antiguas. No esperes más y únete a la diversión!!!&nbsp;</p>
        <p class="text-center d-lg-flex justify-content-lg-center align-items-lg-center"><a class="btn btn-light" role="button" (click)="prueba()">Lista de Películas</a></p>
    </div>
</div>