<nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean-search">
    <div class="container"><a class="navbar-brand text-white" href="#">Cartelera Caracas</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#">Lista</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Favoritos</a></li>
                <li class="nav-item"></li>
            </ul>
            <form class="form-inline mr-auto" target="_self">
                <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
            </form><a class="btn btn-light action-button" role="button" href="#">Buscar Película</a>
        </div>
    </div>
</nav>